<div class="bg">
  <div class="container">

    <form class="form-inline">
      <input class="form-control mr-sm-2" style="width: 80%; border-radius: 10px; border-color: seagreen;" type="search"
        placeholder="Enter Patient ID" [(ngModel)]="id" name="id" aria-label="Search">


      <span>
        <div>
          <button style="border-radius: 10px; margin-left: 5px;" class="btn btn-success" type="submit"
            (click)="displayPatientInfo()" (click)=hidetable()><i class="fa fa-search"></i> Search</button>
        </div>
      </span>


    </form>
  </div>


  <div class="card text-center">
    <div class="card-header">
      Doctor Information
    </div>
  </div>


  <div class="p-5 text-center" style="height: 355px">
    <div class="mask">

      <table class="table table-stripped" [hidden]="hidden">

        <thead>
          <tr>
            <th scope="col">Patient id</th>
            <th scope="col">Patient Name</th>
            <th scope="col">Visit Date</th>
            <th scope="col">Doctor Name</th>
            <th scope="col">Age</th>
            <th scope="col">Prescription</th>
            <td>Action</td>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>{{patient.id}}</td>
            <td>{{patient.name}}</td>
            <td>{{patient.dataOfVist}}</td>
            <td>{{patient.visitedDoctor}}</td>
            <td>{{patient.age}}</td>
            <td>{{patient.prescription}}</td>
            <td>
              <button (click)="deleteListedPatient(patient.id)" class="btn btn-danger" style="margin-left: 10px"
                routerLink="/">
                Delete</button>
            </td>
          </tr>
        </tbody>
      </table>