<section id="mainpage" style=" height: 100%;">

    <div class="" style="margin-top: -50px;">

        <h2 style="margin-left: 40px; font-size: 25px;">Welcome to Peerless Hospital 
        </h2>

        <div>
            <img style="margin-left: 35px; border-radius: 25px;"
                src="https://content.jdmagicbox.com/comp/kolkata/d9/033pxx33.xx33.131118144341.z3d9/catalogue/dr-bhaskar-bikash-pal-kolkata-gastroenterologists-ec2r6.jpg"
                alt="image" width="750px" height="350px">
        </div>
      
        <div>
            <h5 style="font-weight: bolder; font-size: 20px; margin-left: 820px; margin-top: -353px;  color: tomato;">
                About Us</h5>
            <p
                style="font-style: italic; font-size: 15px; font-weight: bold; font-family: 'Times New Roman', Times, serif; margin-left: 820px; margin-right: 45px;">

                For close to a hundred years now the Peerless name has been synonymous with Trust. Trust that has been
                won and retained by successive generations of Peerless people, who have made it their Mission to give
                back to the Society more than what it draws from it for sustenance. To us, Peerless is much more than a
                mere name, it is a way of life, it what we strive to be, in everything we do, at all points in time.
                Being Peerless is a means to an end, not the end in itself.

                <br>
                <br>

                The 400 bed Multi-Specialty Peerless Hospital & B.K.Roy Research Centre too is build around this core
                principle of Selfless, Single-minded and Sustainable Service. A pioneering status in the healthcare
                domain in the Eastern parts of India with what was, and continues to be, a world class facility backed
                by some of the most acclaimed medical practitioners in their respective fields of excellence and a
                clinic of caregivers who raises the bar of nursing on a daily basis, Peerless continues to set goals in
                excellence only to surpass them. As a matter of fact, in the last year and a half itself, the Hospital
                has gone through a major inter functional and multidimensional revamp process, aimed at ensuring that
                its infrastructure remain cutting edge.




                Peerless has over the years established its sway over 40 medical and surgical specialties where
                practitioners attached with it hold the position of being authorities in their respective fields and
                attract patients referred from the neighboring areas, both within and outside the country.


            </p>
            <br>
            <br>
            <br>
            <div style="margin-left: 40px; margin-top: -60px; font-style: italic;">
                <a style="font-weight: bold; color: rgb(20, 6, 116);">Address</a>
                <br>
                360 Panchasayar, Kolkata - 700 094, West Bengal, India
                <br>
                Ph: 91 (33) 4011 1222, 2432 0075 / 4989, 2462 2394
                <br>
                Fax: 91 (33) 2462 0692
            </div>

            <div style="margin-left: 820px; margin-top: -70px;">
                <a style="padding-right: 20px; color: tomato; font-weight: bolder; font-size: 20px;">Contact Us</a>
                <link rel="stylesheet"
                    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

                <!-- Add font awesome icons -->
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-google"></a>
            </div>

        </div>
    </div>
</section>