<div class="bg">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="h3 fw-bold text-white my-4" style="margin-left: 8px; color: rgb(43, 43, 170);" ><h3 style="color: blue;"> Provide Doctor Information</h3>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <form [formGroup]="doctorForm">

          <div class="mb-2">
            <label for="">Name <span class="error">*</span></label>
            <input name="name" [(ngModel)]="doctor.name"  [value]="doctor.name" required="true" type="text"
              class="form-control" placeholder="Doctor name"  formControlName="name">
              <small class="form-text" [ngClass]="{'error':name && name.touched && name.invalid}">Only Alphabets are
                allowed</small>
          </div>


          <div class="mb-2">
            <label for="">Specialization <span class="error">*</span></label>
            <input name="specialist" [(ngModel)]="doctor.specialist" name="specialist" [value]="doctor.specialist" required="true"
              type="text" class="form-control" placeholder="Enter specialization"  formControlName="specialist" >
                <small class="error" *ngIf="specialist && specialist.touched && specialist.invalid">Required field</small>
          </div>


          <div class="mb-2">
            <label for="">Age <span class="error">*</span></label>
            <input name="age" [(ngModel)]="doctor.age" name="age" [value]="doctor.age" required="true" type="number"
              class="form-control" placeholder="Enter age" formControlName="age">
              <small class="error" *ngIf="age && age.touched && age.invalid">Required field</small>
          </div>


          <div class="mb-2">
            <label for="gender">Gender <span class="error">*</span></label>
            <select id="gender" [(ngModel)]="doctor.gender" [value]="doctor.gender" class="form-control" name="gender" formControlName="gender">
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="others">Others</option>
            </select>
          </div>


          <div class="mb-2" style="padding-bottom: 19px; padding-top: 11px;">
            <button type="submit" (click)="saveDoctor()" class="btn btn-primary" [disabled]="doctorForm.invalid">Enter</button>
          </div>

          

        </form>
      </div>
    </div>
  </div>
</div>
