<nav class="navbar navbar-expand-lg navbar navbar-light" style="background: linear-gradient(to right, #bdf3dd,
 rgb(53, 172, 38) 50%);
padding: 5px; margin-bottom: 0px;">
  <div style="font-size: xx-large; color: #08568a; font-weight: bolder; margin-right: 85px; padding-left: 35px;"> Peerless Hospital

    <span><img src="https://pbs.twimg.com/profile_images/1447490469361958915/3m_2w8HE_400x400.jpg" alt="logo" style="width: 50px; border-radius: 5px;"></span>
  </div>
  
  <nav class="navbar navbar-expand-lg navbar navbar-light"
    style="border-color: saddlebrown;  background-color:#70b9fd; padding: 0px; margin: 10px; border-radius: 20px;">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <div class="navbar-nav">

        <a class="nav-item nav-link active" routerLink="/" style="color: rgb(189, 63, 74);">Home</a>
        <a class="nav-item nav-link" routerLink="doctors/doctor/add">Create Doctor</a>
        <a class="nav-item nav-link" routerLink="patients/patient/add">Create Patient</a>
        <a class="nav-item nav-link" routerLink="doctor/view">Search Doctor</a>
        <a class="nav-item nav-link" routerLink="patient/view">Search Patient</a>

      </div>

    </div>
  </nav>